[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
streamlit = "*"
pandas-profiling = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
scikit-learn = "*"
sklearn2pmml = "*"
pypmml = "*"

[dev-packages]

[requires]
python_version = "3.9"
