[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = ">=0.5.1"
pandas = "*"
numpy = "*"
pandas-profiling = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = ">=1.0"
sklearn2pmml = "*"
pypmml = "*"
notebook = "*"
pyarrow = "*"
boruta = "*"
jupyter = "*"
ipywidgets = "*"
feature-engine = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
